LLM_PROVIDER=gemini
LLM_MODEL=gemma-3-27b-it
LLM_TEMPERATURE=0.2
GEMINI_API_KEY=tu-api-key
LOG_LEVEL=INFO
GEMINI_MODEL=gemma-3-27b-it
GROQ_API_KEY=tu-api-key
GROQ_MODEL=openai/gpt-oss-120b
URL_REMOTE=http://192.168.1.69:1234/v1
NAME=Ed Donner
