# Dependencies (Sorted alphabetically)
chromadb
groq
langchain_core
langchain_openai
langgraph
numpy
openai
protobuf
pydantic
pydantic[email]
pypdf
pytest
python-dotenv
rank_bm25
rich
sentence_transformers
typing_extensions
-dotenv
rank-bm25
typing_extensions
pathlib